<div class="container">
    <div class="row">
        <div class="col-xs-12 text center" id="top-bar">
            <h1>Eat Da Burger!</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                {{#each burgers}} {{#unless this.devoured}}

                <div class="col-xs-9 text center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-xs-3 text-center burger" id={{this.id}} data-id={{this.id}}> 
                    <form class="button-size">
                        <input type="hidden" data-id={{this.id}} name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">Devour It!</button>
                    </form>
                </div>
                {{/unless}} 
                {{/each}}
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{#each burgers}} 
                    {{#if this.devoured}}
                    <div class="col-xs-9 text center">
                        <pre>{{this.id}}. {{this.burger_name}}</pre>
                    </div>
                    {{/if}} 
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>